.images {
  height: inherit;
  width: 50%;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .images {
    height: inherit;
    width: 70%;
    border-radius: 10px;
  }

  .image {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1920px) {
  .images {
    height: inherit;
    width: 68%;
    border-radius: 10px;
  }

  .image {
    width: 100%;
    height: 100%;
  }
}
