.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0px;
  right: 0px;
  width: 300px;
  height: 96%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 10px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.headProduct {
  display: flex;
  width: 85%;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-self: center;
}

.productContainer {
  display: flex;
  flex: 2;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  max-height: 70%;
}

.taxes {
  display: inline-block;
  width: 80%;
  font-size: 0.8rem;
  color: #666;
  text-align: left;
  margin-left: 15px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 90%;
  margin-bottom: 15px;
}
.footer {
  position: relative;
  bottom: 0;
}

@media (min-width: 1024px) {
  .container {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0px;
    width: 500px;
    height: 98%;
    background-color: #ffffff;
    border: none;
    border-radius: none;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    margin-bottom: 15px;
  }

  .headProduct {
    display: flex;
    width: 85%;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    margin-bottom: 15px;
  }

  .productContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    min-height: 500px;
  }

  .taxes {
    display: inline;
    align-self: center;
    width: 60%;
    font-size: 0.8rem;
    color: #666;
    text-align: center;
    margin-top: 10px;
    margin-left: 15px;
  }
}

@media (min-width: 1920px) {
  .container {
    width: 700px;
    height: 97%;
    padding: 20px;
  }

  .productContainer {
    min-height: 620px;
  }

  .taxes {
    width: 50%;
    font-size: 1rem;
    margin-top: 15px;
  }
}
