.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff6e6;
  padding-bottom: 1%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
  height: auto;
  width: 80%;
  gap: 3%;
}

.quantity {
  display: flex;
  justify-self: left;
  padding-top: 15%;
}

.addToCartBtn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  background-color: #2a628f;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.8rem 2rem;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 100%;
  margin-top: 10%;
}
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.TitleDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.TitleDesc p {
  text-align: center;
}

.title {
  display: flex;
  font-size: 1.5rem;
  margin-top: 10%;
  margin: 0%;
}
.btnFormat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6%;
  gap: 5%;
  width: 100%;
  height: fit-content;
}

.btnFormat button {
  display: flex;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  background-color: transparent;
  border: 0px solid #343434;
  cursor: pointer;
}

.btnFormat button:hover {
  cursor: pointer;
}

.price {
  display: flex;
  font-size: 2rem;
  margin-top: 12%;
}
.priceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  justify-content: space-between;
}

.quantityBtn {
  margin-top: 3%;
  justify-self: center;
  border: 1px solid #343434;
  border-radius: 10px;
  padding: 0.3rem 2rem;
  margin-bottom: 10%;
}

.actionBtn {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    height: fit-content;
    width: 65%;
    gap: 3%;
    margin-top: 2%;
    margin-bottom: 0%;
  }

  .quantity {
    display: flex;
    justify-self: left;
  }

  .TitleDesc p {
    text-align: left;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 60%;
    margin-top: 0%;
  }
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }

  .TitleDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
  }

  .title {
    display: flex;
    font-size: 2.5rem;
    margin-top: 10%;
    margin: 0%;
  }
  .btnFormat {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 6%;
    gap: 5%;
    width: 100%;
    height: fit-content;
  }

  .btnFormat button {
    display: flex;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
  }

  .btnFormat button:hover {
    cursor: pointer;
  }

  .price {
    display: flex;
    font-size: 2rem;
    margin-top: 15%;
  }
  .priceContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }

  .quantityBtn {
    margin-top: 3%;
    margin-bottom: 0%;
  }

  .actionBtn {
    display: flex;
    flex-direction: row;
    gap: 5%;
  }
}
