.thematic-container {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thematic-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20%;
}

.thematic-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
}

.thematic-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Réduit le padding */
  width: 70%; /* Réduit la largeur */
  text-align: center;
  border: 1px solid #ddd;
  place-self: center;
  cursor: pointer;
}

.thematic-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.thematic-image {
  width: 100px; /* Réduit la largeur de l'image */
  height: 100px; /* Réduit la hauteur de l'image */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 0 auto 10px auto;
}

.thematic-card-title {
  font-size: 16px; /* Réduit la taille de la police */
  font-weight: 600;
  margin-bottom: 5px;
}

.thematic-card-description {
  font-size: 12px; /* Réduit la taille de la police */
  color: #666;
}

@media (min-width: 1024px) {
  .thematic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 0vh;
    margin-top: 1%;
    padding: 20px;
  }

  .thematic-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }

  .thematic-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 3%;
  }

  .thematic-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
  }

  .thematic-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Réduit le padding */
    width: 200px; /* Réduit la largeur */
    height: auto;
    text-align: center;
    border: 1px solid #ddd;
    place-self: none;
  }

  .thematic-image {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 0 auto 10px auto;
    object-fit: cover;
  }

  .thematic-card-title {
    font-size: 16px; /* Réduit la taille de la police */
    font-weight: 600;
    margin-bottom: 5px;
  }

  .thematic-card-description {
    font-size: 12px; /* Réduit la taille de la police */
    color: #666;
  }
}

@media (min-width: 1200px) {
  .thematic-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}
