.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 95%;
  height: fit-content;
  padding: 3%;
}

.headProduct {
  display: flex;
  width: 85%;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  justify-self: center;
  padding: 10px;
}

.productContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.taxes {
  justify-content: center;
  width: 80%;
  font-size: 0.8rem;
  color: #666;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 10%;
  padding: 8px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
